/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-jul-2017, 17:33:43
    Author     : jvanbiervliet
*/

#header {
  background-color: #16BCBC;
  background-image: none;
}

body {
  background-color: yellow;
}

.node {
  border: 1px  solid;
  border-radius: 6px;
  padding: 10px;
}

.huge_h1 h1 {
  font-size: 5em;
}