/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-jul-2017, 17:33:43
    Author     : jvanbiervliet
*/

html, body {
  border-radius: 6px;
}

#header {
  background-color: #16BCBC;
  background-image: none;
}

.menu-jeanb {
  background-color: #EDF5FA;
  border: 1px gold solid;
  border-radius: 6px;
}

.sidebar .block {
    background-color: #FCEBA9;
    border-color: #690f0f;
    border-radius: 6px;
}

.node {
  border: 1px  solid;
  border-radius: 6px;
  padding: 10px;
}

.huge_h1 h1 {
  font-size: 5em;
}